<footer class="bd-footer navbar-light bg-light text-muted">
    <div class="container">
        <div class="row">
            <div class="col-4" id="footer">
                <a href="{{ site.baseurl }}{% link pages/disclaimer.html %}">Disclaimer</a>
                <br>
                <a href="{{ site.baseurl }}{% link pages/voorwaarden.html %}">Voorwaarden</a>
                <div class="icons">
                        <a class="navbar-brand nav-link-2" href="http://www.facebook.com"><img id="facebook" src="{{ 'assets/images/facebook.png' | absolute_url }}"></a>
                        <a class="navbar-brand nav-link-2" href="http://www.twitter.com"><img id="twitter" src="{{ 'assets/images/twitter.png' | relative_url }}"></a>
                        <a class="navbar-brand nav-link-2" href="http://www.instagram.com"><img id="instagram" src="{{ 'assets/images/instagram.png' | relative_url }}"></a>
                </div>  
            </div>
            <div class="col-4" id="footer_location">
                <img id="icon_location" src="{{ 'assets/images/locatie.png' | relative_url }}">
                <br>
                <br>
                <p>Industrieweg 232
                <br>9030 GENT</p>
            </div>
            <div class="col-4" id="footer_design">
                <p>Designed and built <br>by
                    <a href="https://facebook.com/fienosselaer" target="_blank" rel="noopener">Fien Osselaer
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
                 
        </div>
    </div>
</footer>