
/* homepagina */

p {
  margin-bottom: none;
}

.homepage {
  text-align: center;
}

.normal_text_home {
  margin-top: 20px;
  margin-bottom: 60px;
  font-family: 'Cagliostro', 'sans-serif';
  color: #908F8F;
  text-align: center;
}

/* home afbeelding bed */

.contain {
  position: relative;
  width: 100%;
  margin-bottom: 70px;
}

.home_bed {
  margin: 0;
  width: 100%;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle_bed {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.contain:hover .home_bed {
  opacity: 0.3;
}

.contain:active .home_bed {
  opacity: 0.3;
}

.contain:hover .middle_bed {
  opacity: 1;
}

.contain:active .middle_bed {
  opacity: 1;
}

.text {
  background-color: #9AD3CC;
  color: white;
  font-family: 'Cagliostro', 'sans-serif';
  font-size: 18px;
  padding: 16px 32px;
  border-radius: 2px;
}

.text a:hover {
  color: #F5F5F5;
  text-decoration: none;
}

/* home afbeelding kalender */

.home_kalender {
  margin: 0;
  width: 100%;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border: 10px double #F5F5F5;
}

.middle_kalender {
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.contain:hover .home_kalender {
  opacity: 0.3;
}

.contain:active .home_kalender {
  opacity: 0.3;
}

.contain:hover .middle_kalender {
  opacity: 1;
}

.contain:active .middle_kalender {
  opacity: 1;
}

/* home afbeelding ontbijt */

.home_ontbijt {
  margin: 0;
  width: 100%;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border: 10px double #F5F5F5;
}

.middle_ontbijt {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.contain:hover .home_ontbijt {
  opacity: 0.3;
}

.contain:active .home_ontbijt {
  opacity: 0.3;
}

.contain:hover .middle_ontbijt {
  opacity: 1;
}

.contain:active .middle_ontbijt {
  opacity: 1;
}

/* Over ons pagina */

.normal_text {
  font-family: 'Cagliostro', 'sans-serif';
  color: #908F8F;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
}

.normal_img {
  margin-top: 50px;
  margin-bottom: 20px;
}

.img_text {
  margin-bottom: 70px;
  font-family: 'Cagliostro', 'sans-serif';
  color: #908F8F;
  text-align: center;
}

.maintitle {
  font-size: 3em;
  font-family: 'League Script', 'sans-serif';
  margin-bottom: 20px;
  color: #908F8F;
  text-align: center;
  margin-top: 60px;
}

#yentl {
  border-radius: 1px;
  width: 100%;
}

#fien {
  width: 100%;
}

/* pagina kamer */

.normal_text_kamer {
  font-family: 'Cagliostro', 'sans-serif';
  color: #908F8F;
  text-align: center;
}

.appartement_img {
  width: 100%;
}

.img_text_kamer {
  margin-bottom: 40px;
  font-family: 'Cagliostro', 'sans-serif';
  color: #908F8F;
  text-align: center;
}

/* pagina extra opties */

.icon_EO {
  width: 20%;
  align-self: center;
  margin-bottom: 50px;
  color: #908F8F;
}

#text_EO {
  margin-bottom: 70px;
}

.subtitle_EO {
  font-size: 1.3em;
}

.icon_SC {
  width: 10%;
  margin-top: 10px;
  margin-bottom: 50px;
}

/* pagina reserveren */

.maintitle_reserveren {
  margin-top: 20px;
  font-size: 2.5em;
  font-family: 'League Script', 'sans-serif';
  margin-bottom: 20px;
  color: #908F8F;
  text-align: center;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.month {
    padding: 70px 25px;
    width: 100%;
    background: #9AD3CC;
    text-align: center;
    font-family: 'Cagliostro', 'sans-serif';
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
    font-family: 'Cagliostro', 'sans-serif';
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 20px 0;
    background: #eee;
    margin: 0;
    font-family: 'Cagliostro', 'sans-serif';
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #9AD3CC;
    color: white !important
}

.box {
  margin: 0 auto;
  padding: 5px;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid white;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  background: #908F8F;
  text-decoration: none;
}

.button:active {
  background: #908F8F;
  text-decoration: none;
}

.button_2 {
  font-size: 1em;
  padding: 8px;
  border: 2px solid #908F8F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button_2:hover {
  color: #070303;
  text-decoration: none;
}

.button_2:active {
  color: #070303;
  text-decoration: none;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 15px;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 50px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: 'League Script', 'sans-serif';
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #908F8F;
}

.popup .close:hover {
  color: white;
}

.popup .close:active {
  color: white;
}

.popup .content {
  max-height: 30%;
  font-size: 1.1em;
}

.reserveren {
  margin-top: 70px;
  margin-bottom: 100px;
}

#text_reserveren {
  text-align: center;
  color: #908F8F;
  font-family: 'Cagliostro', sans-serif;
  margin-bottom: 40px;
}

#balk_gereserveerd {
  font-size: 1.2em;
  text-align: center;
  color: white;
  background: #9AD3CC;
  font-family: 'Cagliostro', sans-serif;
  padding: 52px 50px;
}

#balk_text_reserveren {
  margin-top: 40px;
}

/* pagina contact */

#contact_layout {
  padding: 50px 50px;
  color: white;
  font-family: 'Cagliostro', sans-serif;
  line-height: 1.5;
  text-align: center;
  background-image: url(http://www.publicdomainpictures.net/pictures/90000/velka/question-marks-background.jpg);
  background-size: 700px;
  border: 7px double black;
}

#contact_pagina {
  margin-top: 100px;
  margin-bottom: 100px;
}

#nog_vragen {
  color:#9AD3CC;
  font-family: 'Cagliostro', sans-serif;
  margin-top:20px;
}

#bellen {
  background-color: #9AD3CC;
  border-radius: 10px;
  padding: 30px 30px;
  color: white;
  font-family: 'Cagliostro', sans-serif;
  line-height: 1.5;
  margin-top: 130px;
  margin-left: 40px;
  text-align: center;
}

/* PAGINA WINKELKAR */

.titel_winkelkar {
  font-family: 'League Script', 'sans-serif';
  font-size: 1.6em;
  text-align: center;
}

.icon_winkelkar {
  width: 30%;
  margin-bottom: 50px;
}

/* Checkbox */
.container_checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 0.9em;
  font-family: 'Cagliostro', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container_checkbox input {
  position: absolute;
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.container_checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.container_checkbox:active input ~ .checkmark {
  background-color: #ccc;
}

.container_checkbox input:checked ~ .checkmark {
  background-color: #9AD3CC;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container_checkbox input:checked ~ .checkmark:after {
  display: block;
}

.container_checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Progress bar */

.progress-bar {
  background-color: #9AD3CC;
}

.date_page {
  font-family: 'Cagliostro', 'sans-serif';
  font-size: 1.1em;
  margin-top: 50px;
  color: #908F8F;
}

.user_page {
  font-family: 'Cagliostro', 'sans-serif';
  font-size: 1.1em;
  margin-top: 20px;
  color: #908F8F;
}

#balk1 {
  width: 100%;
  margin-bottom: 30px;
}

.gegevens {
  margin-bottom: 10px;
  margin-top: 10px;
}

.buttons_winkelkar {
	display: block;
	width: 100%;
  margin-top: 65px;
  margin-bottom: 70px;
  text-align: center;
  font-family: 'Cagliostro', sans-serif;
}

.buttons_winkelkar a {
	text-decoration: none;
	background-color: #908F8F;	
	padding: 8px 25px;
	color: #ffffff;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}

.buttons_winkelkar a:hover {
	background-color: #cfcfcf;
}

.buttons_winkelkar a:active {
	background-color: #cfcfcf;
}

.img_betalen {
  width: 50px;
  margin-left: 20px;
  float: right;
}

.img_betalen_groot {
  width: 40px;
  margin-left: 20px;
  float: right;
}

/* pagina winkelkar betalen */

.text_bestelling {
  font-family: 'Cagliostro', 'sans-serif';
  color: #908F8F;
  border-bottom: 2px solid #908F8F;
  margin-top: 20px;
}

.bestelling_rechts {
  float: right;
}

.bestelling_totaal {
  margin-top: 20px;
}

#titel_winkelkar_bestelling {
  margin-bottom: 30px;
  font-family: 'League Script', 'sans-serif';
  font-size: 1.6em;
  text-align: center;
}

/* disclaimer */

#normal_text_disclaimer {
  margin-bottom: 70px;
  font-family: 'Cagliostro', 'sans-serif';
  color: #908F8F;
}

/* voorwaarden */

#normal_text_voorwaarden {
  margin-bottom: 70px;
  font-family: 'Cagliostro', 'sans-serif';
  color: #908F8F;
}

/* footer */

#footer_design {
  float: right;
  font-family: 'Cagliostro', 'sans-serif';
  font-size: 13px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: right;  
}

#footer_design a:hover {
  text-decoration: none;
  color: #070303
}

#footer_design a:active {
  text-decoration: none;
  color: #070303
}

#footer_location {
  font-family: 'Cagliostro', 'sans-serif';
  font-size: 13px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

#footer {
  color: #908F8F;
  font-family: 'Cagliostro', 'sans-serif';
  font-size: 13px;
  margin-top: 40px;
  margin-bottom: 20px;
  float: none;
}

#footer a {
  text-decoration: none;
}

#footer a:hover {
  color: #070303;
}

#footer a:active {
  color: #070303;
}

#icon_location {
  width: 8%;
}

#facebook {
  width: 20px;
}

#instagram {
  width: 17px;
}

#twitter {
  width: 20px;
}

@media only screen and (max-width: 576px) {
  #logo {
    font-size: 3em;
    text-align: center;
  }

  .weekdays li, .days li {
    width: 12.5%;
  }

  .days li .active {
    padding: 2px;
  }
}
 
@media only screen and (max-width: 768px) {
  .text {
    font-size: 13px;
    padding: 8px 16px;
  }

  #logo {
    font-size: 3em;
    text-align: center;
  }

  #footer_location {
    font-size: 8px;
  }

  #footer_design {
    font-size: 8px;
  }

  #footer {
    font-size: 8px;
    margin-bottom: 13px;
  }

  #icon_location {
    width: 15%;
  }

  .weekdays li, .days li {
    width: 13.1%;
  }

  #balk_text_reserveren {
    margin-top: 40px;
  }
  
  #bellen {
    margin-left: 0px;
  }

  .box{
    width: 70%;
  }

  .popup{
    width: 70%;
  }

  .icon_winkelkar {
    width: 60%;
  }

  #facebook {
    width: 13px;
  }
  
  #instagram {
    width: 10px;
  }
  
  #twitter {
    width: 13px;
  }
  .icons {
    margin-top: 0px;
  }
  .normal_text {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }
}
 
@media only screen and (min-width: 992px) {
  .icon_EO {
    width: 30%;
  }
}
 
@media only screen and (min-width: 1200px) {
 
}