@import
  "bootstrap-variables",                  // See _bootstrap-variables.scss
  "../_vendor/bootstrap/scss/bootstrap";  // See _vendor/bootstrap/scss/bootstrap.scss

  @media only screen and (max-width: 576px) {
    #logo {
      font-size: 3em;
      text-align: center;
    }

    .weekdays li, .days li {
      width: 12.5%;
    }

    .days li .active {
      padding: 2px;
    }
 }
 
 @media only screen and (max-width: 768px) {
  .text {
    font-size: 13px;
    padding: 8px 16px;
  }

  #logo {
    font-size: 3em;
    text-align: center;
  }

  #footer_location {
    font-size: 8px;
  }

  #footer_design {
    font-size: 8px;
  }

  #footer {
    font-size: 8px;
  }

  #icon_location {
    width: 15%;
  }

  .weekdays li, .days li {
    width: 13.1%;
  }

  #balk_text_reserveren {
    margin-top: 40px;
  }
  
  #bellen {
    margin-left: 0px;
  }

  .home_bed {
    width: 150%;
  }
 }
 
 @media only screen and (min-width: 992px) {
  .icon_EO {
    width: 30%;
  }
 }
 
 @media only screen and (min-width: 1200px) {
 
 }