nav {
    width: 100%;
}
  
.nav-link {
    color: #908F8F;
    font-family: 'Cagliostro', 'sans-serif';
    font-size: 18px;
    margin-right: 40px;
}
  
.nav-link:hover {
    color: #070303;
}

.nav-link:active {
    color: #070303;
}

.navbar {
    border-bottom: 1px solid black;
}

#icon_nav {
    width: 30px;;
    float: right;
    margin-bottom: 15px;
    margin-right: 20px;
}

#logo {
    font-family: 'League Script', 'sans-serif';
    margin: 50px;
    margin-bottom: 0px;
  }